
h1{
	color:black;
	text-align:center;
}

.encabezado {
	background-color:#424242;
	color:white;
	text-align:center;
}

.encabezado th{
	text-align:center;
}

.contenedor{
	padding-right:30%;
	margin-left:30%;
}